{% extends "layouts/default.htm" %}
{% block title %}
  <title>Home |
    {{title}}</title>
{% endblock %}

{% block content %}
  <form hidden id="view_1">
    <div class="container">
      <div class="form-field">
        <input data-mask="phone" data-validation="phone" type="tel">
      </div>
      <div class="form-field">
        <input data-mask="int" data-validation="zip" required type="text">
      </div>
      <button class="btn" data-action="proceed">Submit</button>
    </div>
  </form>
  <form hidden id="view_2">
    <div class="container">
      <div class="form-field">
        <input data-mask="phone" type="tel">
      </div>
      <div class="form-field">
        <input data-mask="int" type="text">
      </div>
      <button class="btn" data-action="proceed">Submit</button>
    </div>
  </form>
  <form hidden id="view_3"></form>
  <form hidden id="view_4">
    <div class="p404">
      <div class="p404__container container">
        <div class="p404__number">404</div>
        <p class="p404__description">
          Not found
        </p>
      </div>
    </div>
  </form>
{% endblock %}
