<header class="header layout__header">
  <div class="header__container container">
    <a class="header__logo" href="{{ '' | page }}"></a>
    <nav class="header__nav">
      <a class="header__nav-link" href="#view_1">view_1</a>
      <a class="header__nav-link" href="#view_2">view_2</a>
      <a class="header__nav-link" href="#view_3">view_3</a>
      <a class="header__nav-link" href="#view_4">view_4</a>
    </nav>
  </div>
</header>
